.text-box-container
    background-color: #008282
    color: white
    overflow: auto
    height: 210px
    width: 570px
    border: thin solid
    border-style: inset

.text-box
    &__welcome-text
        font-size: 1.5rem
        width: 100%
        height: 100%
        display: grid
        place-items: center
